*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
}
::-webkit-scrollbar{
    width: 3px;
    border-radius: 35px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #dddddd;
    
}
::-webkit-scrollbar-thumb:hover{
    background: #cccccc;
    
}
.wrapper{
    width: 320px;
    
    border-radius: 5px;
    border: 1px solid lightgray;
    border-top: none;

}
.wrapper .title{
    background: blue;
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid blue;
}
.wrapper .form{
    padding: 20px 15px;
    min-height: 400px;
    max-height: 400px;
    overflow: auto;

}
.wrapper .form .inbox{
    width: 100%;
    display: flex;
    align-items: baseline;
}
.wrapper .form .user-inbox{
    justify-content: flex-end;
    margin: 13px 0;
}
.wrapper .form .user-inbox .message-header p{
    background: #efefef;
    color: #333333;
    word-break: break-all;
}
.wrapper .form .inbox .icons{
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 50%;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    background: blue;
}
 .message-header{
    max-width: 53%;
    margin-left: 10px;

}
.message-header>p{
    color: white;
    background: blue;
    border-radius: 12px;
    padding: 8px 10px;
    font-size: 17px;
    word-break: break-all;
}
.wrapper .type-field{
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background: tan;
    border-top: 1px solid wheat;
    border-radius: 0 0 5px 5px;

}
.wrapper .type-field .input-data{
    height: 40px;
    width: 335px;
    position: relative;
    
}
.wrapper .type-field .input-data input{
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid transparent;
    padding: 0 80px 0 15px;
    border-radius: 3px;
    font-size: 15px;
    background: white;
    transition: all 0.3s ease;
}
.wrapper .type-field .input-data input:focus{
    border-color: rgba(11, 25, 214, 0.733);
}
.wrapper .type-field .input-data input::placeholder{
    color: #999999;
    transition: all 0.3s ease;


}
.input-data input:focus::placeholder{
    color: #bfbfbf;
}
.wrapper .type-field .input-data button{
    position: absolute;
    right: 5px;
    top: 50%;
    height: 30px;
    width: 65px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    background: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 3px;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
.wrapper .type-field .input-data input:valid~button{
    opacity: 1;
    pointer-events: auto;

}
.type-field .input-data button:hover{
     background: black;
}